* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid black;
    color: rgb(23, 23, 170);
}

#firstFieldset {
    margin: 110px auto 25px auto;
}

fieldset {
    margin: 25px auto 25px auto;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(54, 53, 53);
}

legend {
    background-color: white;
    border: 2px solid grey;
    border-radius: 15px;
    text-align: left;
    margin-left: 30px;
    color: rgb(23, 23, 170);
    font-weight: 800;
    padding: 5px
}

p {
    margin: 35px auto 35px auto;
    width: 85%;
    line-height: 150%;
}

form {
    display: grid;
    grid-template-columns: 1;
    margin: auto;
}

#gradeInputExample {
    font-size: x-small;
}

input {
    margin: 40px auto 0 auto;
    border-radius: 5px;
}

button {
    margin: 50px auto 10px auto;
    height: 50px;
    width: 150px;
    font-size: large;
    color: white;
    background-color: rgb(23, 23, 170);
    border-color: rgb(3, 3, 3);
    border-radius: 15px;
}

div {
    margin: 40px auto 40px auto;
    border-bottom: 2px solid grey;
}

footer {
    background-color: rgb(23, 23, 170);
    color: white;
    border: 1px solid grey;
    border-radius: 0 0 10px 10px;
    margin: auto;
}

#footerText {
    margin: 4px auto 4px auto;
}



@media only screen and (min-width: 30em) {
    main figure {width:70%;float: right;} 
 }